body {
    background-color:#95afc0;
  }

body {
    color : #535c68;
  }

  .form,
  .greetings {
    display: none;
  }

  .showing {
    display : block;
  }

  @keyframes fadeIn {
    from {
      opcity :0;
    }
    to{
      opacity: 1;

    }
  }

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
  }